<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .room-container{
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}

<h1>Chatroom</h1>
<div class="room-container">

    <div>

      <h3>{{room.sub_topic}}</h3>

        <div class="comment-wrapper">
          <h3>Conversation</h3>
           <hr>
        {% for message in message %}
        <div><br>
            {% if request.user == message.user %}
            <a href="{% url 'delete-message' message.id %}">Delete</a>
            {% endif %}

            @{{message.user}} <br>
            message :{{message.body}} <br>
            {{message.created|timesince}} ago
            <hr>
        </div>
        {% endfor %}

        {% if request.user.is_authenticated %}

        <div class="comment-form">
            <form action=""method='POST'>
                {% csrf_token %}
                <input type="text" name="body" placeholder="write message here">
            </form>

        </div>

        {% endif %}
        
    </div>  

</div>

<div>
    <h3>Participants</h3>
    <hr>
    {% for i in participants%}
    <div>
        {{i.username}}
    </div>
    {% endfor %}
</div>

</div>
</body>
</html>